@using JwtAuthentication.Shared
@page "/login"
@inject HttpClient Http


<div class="container">
    <h1>Log in to JWT Authentication!</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" class="form-control" bind="@Email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control" bind="@Password" />
    </div>

    <button onclick="@SubmitForm">Submit</button>
</div>

@functions {
public string Email { get; set; } = "";
public string Password { get; set; } = "";
public string Token { get; set; } = "";

private async Task SubmitForm()
{
    var vm = new TokenViewModel
    {
        Email = Email,
        Password = Password
    };
    var response = await Http.PostJsonAsync<object>("http://localhost:57778/api/Token", vm);

    Console.WriteLine(response);
}
}